*{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background-color: antiquewhite;
}

:root{
    --links-margin: 40px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    margin: calc(var(--links-margin) / 2);
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.emblem{
    width: 100px;
    height: 100px;
}
.logo > h2{
    display: flex;
    align-self: center;
}

.links-contain{
    display: flex;
    flex-direction: column;
    margin-top: var(--links-margin);
    margin-bottom: var(--links-margin);
    margin-left: var(--links-margin);
}

.link{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.link > p{
    align-self: center;
    
}

.link-icon{
    width: 50px;
    height: 50px;
}
.svg-image-icon{
   
}
